.DS_Store
node_modules
/.svelte-kit
/src/lib/.kener
/package
.env
.vercel
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
nodemon.json
.okgit/
config/static/*
!config/static/.kener